.user-auth-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-auth-container > h1 {
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.user-auth-container > p {
  font-size: 16px;
  min-width: 300px;
  margin: 8px;
  padding: 15px 20px;
  background-color: #faf5f1;
  border: 1px solid #e0dcd8;
}

.user-auth-container > a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #04aff2;
  text-decoration: none;
}

.user-auth-container h1:nth-last-child(2) {
  text-align: center;
  min-width: 342px;
  border-top: 1px solid #e0dcd8;
  padding-top: 20px;
}

.user-auth-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px
}

.user-auth-form > input, 
.user-auth-form > button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  min-width: 300px;
  margin: 8px;
  padding: 15px 20px;
  background-color: #faf5f1;
  border: 1px solid #e0dcd8;
}

.user-auth-form > button {
  margin-top: 20px;
  color: #ffffff;
  background-color: #04aff2;
  border: 1px solid #04aff2;
  border-radius: 1px;
  outline: none;
}

.user-auth-form > input:focus {
  background-color: #fff;
  outline: none;
}

.user-auth-form > button:hover {
  background-color: #04a4e3;
  cursor: pointer;
}


