/* .app-container {
  height: 100vh;
  width: 100vw;
} */

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}

.nav-container > * {
  width: 220px;
}

.nav-container img {
  width: auto;
}

.auth-nav-container > a,
  .auth-nav-container > button {
  font-size: 16px;
  border: none;
  color: #414b56;
  text-decoration: none;
  margin-left: 16px;
}

.splash-container {
  position: relative;
  text-align: center;
}

.splash-container > img{
  width: 100vw;
  height: 100%;
}

.home-nav {
  position: absolute;
  left: 49%;
  bottom: 5%;
  padding-bottom: 5px;
}

.home-nav a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
}

.home-nav a:hover {
  transition: all .25s;
  border-bottom: 2px solid #fff;
}