/* .app-container {
  height: 100vh;
  width: 100vw;
} */

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}

.nav-container > * {
  width: 220px;
}

.nav-container img {
  width: auto;
}

.auth-nav-container > a,
  .auth-nav-container > button {
  font-size: 16px;
  border: none;
  color: #414b56;
  text-decoration: none;
  margin-left: 16px;
}

/* SPLASH */
.homepage-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.splash-container {
  position: relative;
}

.splash-container > img {
  width: 100%;
  height: 100%;
}

.splash-container a {
  position: absolute;
  left: 48%;
  bottom: 5%;
  color: #fff;
  text-decoration: none;
}

.splash-container a:hover {
  transition: all .25s;
  border-bottom: 2px solid #fff;
}

.homepage-container p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  padding: 20px;
}

.homepage-sidenotes {
  padding-top: 50px;
  /* display: block; */
}

.homepage-sidenotes > img {
  padding: 30px;
  width: 35%;
  height: 45%;
}



